.blogs-post-form
{
z-index:9999999;
padding:10px;
visibility:hidden;
display:none;
position:absolute;
text-align:left;

border-style:solid;border-width:1px;
border-right-color:#aaaaff;
border-bottom-color:#aaaaff;
border-left-color:#cccccc;
border-top-color:#cccccc;
filter:progid:DXImageTransform.Microsoft.shadow(enabled=1,direction=135,color=#666666,strength=5)
}

.intuisphere-bloglike-small-readonlytext
{
color:#777777;
font-weight:bold;
font-family:'arial';
font-size:10px;
}

.intuisphere-bloglike-comment-border
{
padding:5px;
border-style:solid;
border-width:1px;
border-color:#aaaaaa;
}



.intuisphere-bloglike-label
{
font-weight:bold;
text-align:center;
font-size:12px;
font-family:Arial;
}

.intuisphere-bloglike-comment-title
{
font-weight:bold;
text-align:center;
font-size:20px;
font-family:Arial;
}

.intuisphere-bloglike-comment-text
{
font-weight:normal;
font-size:11px;
font-family:Arial;
}

.intuisphere-bloglike-links
{
color:#003366;
font-weight:bold;
cursor:pointer;cursor:hand;
font-family:Arial;
font-size:10px;
text-decoration: underline;
}


.intuisphere-bloglike-links:hover
{
color:#0088bb;
}



